baseURL = 'https://imomaliev.com/'
languageCode = 'en-us'
title = 'Blog'

[module]
  replacements = 'github.com/imomaliev/blog/theme -> ../../theme'

  [[module.imports]]
    path = 'github.com/imomaliev/blog/theme'

[caches]
  [caches.images]
    dir = ':cacheDir/images'
