baseURL = 'https://imomaliev.com/'
languageCode = 'en-us'
title = 'Blog'

[module]
  replacements = 'github.com/imomaliev/blog/theme -> ../../theme'

  [[module.imports]]
    path = 'github.com/imomaliev/blog/theme'
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'
  # mount TILs as content
  [[module.mounts]]
    includeFiles = ['*-*.md']
    source = '../tils'
    target = 'content/tils'
  # restore default content mount
  [[module.mounts]]
    source = 'content'
    target = 'content'

[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'

[caches]
  [caches.images]
    dir = ':cacheDir/images'
