@import "tailwindcss";
@source "hugo_stats.json";
@plugin "@tailwindcss/typography";

@theme {
  --color-body: #222;
  --color-links: #00e;
}

@layer base {
  a {
    @apply text-links;
  }
}

@utility prose-theme {
  --tw-prose-links: var(--color-links);
}
