<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="text-body leading-normal m-4 max-w-3xl">
  <header class="border-b-1 border-solid mb-4 border-color-body">
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="border-t-1 border-solid mt-4 border-color-body">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
